version: "3.8"

services:
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: api_service
    ports:
      - "5000:5000"
    env_file:
      - .env

volumes:
  mongo_data: